@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

header {
    
    background-color: rgb(87, 94, 94);
    display: flex;

}

.logo-div {
    border: 2px solid rgb(205, 203, 203);
    width: 12vh;
}



.Phone {
display: inline-block;

}

.nav-link{
    margin-left: 10px;
    margin-right: 10px;
}


.input-search{
    margin-left: 25px;
    margin-top: 5px;
    border-radius: 4px;
}



.share-btn{
    color:  #93C27D;
    padding-right: 60px;
  
}

nav ul{
    display: flex;

}

nav a {
    display: flex;
    
}

footer {
    padding-top: 2rem;
    background-color: #93C27D;
    display: flex;
    flex-direction: column;
    color: white;
    width: 95%;
    
    margin-left: 2.4rem;
  
}

.icon-style {
    display: flex;
    justify-content: space-around;
    max-width: 12rem;
    margin-top: 1rem;
}

footer section {
    display: flex;
    justify-content: space-around;
}

table th, table tr {
    width: 10rem;
}

.line {
    border-bottom: 2px solid white;
    max-width: 80%;
    margin-left: 8rem;
    margin-top: 3rem;
}
table tr {
    text-align: center;
}

footer p {
    align-self: center;
    margin-bottom: 1rem;
}


footer button {
    border: 2px solid white;
    padding: 0.5rem;
    border-radius: 3px;
    width: 10rem;
}

.para-question {
    max-width: 10rem;
}

.payment-logos{
   display: flex;
   justify-content: space-around;
   padding-top: 1rem;
}
footer {
    margin-top: 900px;
}


